<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button autoHide="false" (click)="regresarBTN()">
        
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><b> Informacion del Representante</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item color="light">
        <ion-label>
          <b>ID:</b> {{detalle[0].codigo}}
        </ion-label>
      </ion-item>

      <ion-item-sliding >
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Nombres:</b> {{detalle[0].representante}}</h2>

          </ion-label>

        </ion-item>
      </ion-item-sliding>

      <ion-item color="light">
        <ion-label>
         <b>Campaña :</b> {{camp}}
        </ion-label>
      </ion-item>

      <ion-item color="light">
        <ion-label>
         <b>Año :</b> {{ani}}
        </ion-label>
      </ion-item>

      <ion-item-sliding >
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Direccion:</b> {{detalle[0].direccion}}</h2>

          </ion-label>

        </ion-item>
      </ion-item-sliding>

      <ion-item color="light">
        <ion-label>
          <b>Ciudad :</b> {{detalle[0].ciudad}}
        </ion-label>
      </ion-item>
      
      <ion-item-sliding >
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Telefonos:</b> {{detalle[0].telefonos}}</h2>

          </ion-label>

        </ion-item>
      </ion-item-sliding>

      <ion-item color="light">
        <ion-label>
         <b>Zona :</b> {{detalle[0].zona}}
        </ion-label>
      </ion-item>

      <ion-item color="light">
        <ion-label>
         <b>Seccion :</b> {{detalle[0].seccion}}
        </ion-label>
      </ion-item >

      <ion-item color="light">
        <ion-label>
         <b>Estado :</b> {{estado}}
        </ion-label>
      </ion-item>


    </ion-card-content>


  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><b>Fechas</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      

      
      <ion-item color="light">
        <ion-label>
          <b>Bodega:</b> {{detalle[0].bodega}}
        </ion-label>
        <ion-button fill="outline" color="success" slot="end" style="border: none;">
         
          <ion-icon name="thumbs-up-outline" zise="large"></ion-icon>
        </ion-button>
      </ion-item>

      <div id="divEstados" style="display: none;">
        <ion-item color="light">
          <ion-label>
           <b>En Reparto:</b> {{detalle[0].reparto}}
          </ion-label>
          <ion-button fill="outline" color="success" slot="end" >
           
            <ion-icon name="thumbs-up-outline" zise="large"></ion-icon>
          </ion-button>
        </ion-item>
  
        <ion-item color="light"> 
          <ion-label>
  
            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"> <b>Entregado:</b>  {{detalle[0].entregado}}</h2>
  
          </ion-label>
          <div id="divListo" style="display: none;">
            <ion-button fill="outline" color="success" slot="end" >
            <ion-icon name="thumbs-up-outline" zise="large"></ion-icon>
            </ion-button>
           </div>
           
           <div id="divEspera" style="display: none;">
            <ion-button fill="outline"  slot="end" >
              <ion-icon name="swap-vertical-outline" zise="large"></ion-icon>
            </ion-button>
            
           </div>
        </ion-item>
      </div>
      

      

    </ion-card-content>


  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><b>Paquete:</b>{{detalle[0].codpaquete}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      

      
      <ion-item-sliding *ngFor="let paquete of listaFueraCaja">
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">{{paquete.observ1}}</h2>

          </ion-label>
          <ion-label slot="end" style="text-align: center;">
            {{paquete.cantidad1}}
          </ion-label>
        </ion-item>
      </ion-item-sliding>

    </ion-card-content>


  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><b>Fotografias</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    <div id="divimg1" style="display: none;"> 
      <img [src]="img1" *ngIf="img1" width="100%" height="300px"/>
    </div>

     <div id="divimg2" style="display: none;">
      <img [src]="img2" *ngIf="img2" width="100%" height="300px"/>
     </div>  

      <div id="divimg3" style="display: none;">
        <img [src]="img3" *ngIf="img3" width="100%" height="300px"/>
     </div>
      
      
     
      

    </ion-card-content>


  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><b>Porteador</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      

      
     


      <!--
      <ion-item-sliding >
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Cedula:</b>  {{listaPor[0].idPorteador}}</h2>

          </ion-label>
          
        </ion-item>
      </ion-item-sliding>

-->



      <ion-item-sliding >
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Nombre:</b> {{listaPor[0].Nombres}}</h2>

          </ion-label>
          
        </ion-item>
      </ion-item-sliding>
      
      <ion-item-sliding >
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Celular:</b> {{listaPor[0].celular1}}</h2>

          </ion-label>
          <ion-button fill="outline" color="success" slot="end" (click)="callNow(listaPor[0].celular1)">
            <ion-icon name="call" zise="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-sliding>
      <!--*ngIf="listaPor[0].paqentrega_observacion"-->
      <ion-item-sliding  *ngIf="listaPor[0].paqentrega_observacion">
        <ion-item color="light">
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"><b>Observacion:</b> {{listaPor[0].paqentrega_observacion}}</h2>

          </ion-label>
          
        </ion-item>
      </ion-item-sliding>

    </ion-card-content>


  </ion-card>



</ion-content>
