<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button autoHide="false" (click)="regresarBTN()">
        
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informacion del Representante</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label>
          ID : {{detalle[0].codigo}}
        </ion-label>
      </ion-item>

      <ion-item-sliding>
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">Nombres: {{detalle[0].representante}}</h2>

          </ion-label>

        </ion-item>
      </ion-item-sliding>
      <ion-item>
        <ion-label>
          Campaña : {{camp}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Año : {{ani}}
        </ion-label>
      </ion-item>
      <ion-item-sliding>
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">Direccion: {{detalle[0].direccion}}</h2>

          </ion-label>

        </ion-item>
      </ion-item-sliding>
      <ion-item>
        <ion-label>
          Ciudad : {{detalle[0].ciudad}}
        </ion-label>
      </ion-item>
      
      <ion-item-sliding>
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">Telefonos: {{detalle[0].telefonos}}</h2>

          </ion-label>

        </ion-item>
      </ion-item-sliding>
      <ion-item>
        <ion-label>
          Zona : {{detalle[0].zona}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Seccion : {{detalle[0].seccion}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Estado : {{estado}}
        </ion-label>
      </ion-item>


    </ion-card-content>


  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fechas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      

      
      <ion-item>
        <ion-label>
          Bodega: {{detalle[0].bodega}}
        </ion-label>
        <ion-button fill="outline" color="success" slot="end" style="border: none;">
         
          <ion-icon name="thumbs-up-outline" zise="large"></ion-icon>
        </ion-button>
      </ion-item>
      <div id="divEstados" style="display: none;">
        <ion-item>
          <ion-label>
            En Reparto: {{detalle[0].reparto}}
          </ion-label>
          <ion-button fill="outline" color="success" slot="end" >
           
            <ion-icon name="thumbs-up-outline" zise="large"></ion-icon>
          </ion-button>
        </ion-item>
  
        <ion-item>
          <ion-label>
  
            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;"> Entregado: {{detalle[0].entregado}}</h2>
  
          </ion-label>
          <div id="divListo" style="display: none;">
            <ion-button fill="outline" color="success" slot="end" >
            <ion-icon name="thumbs-up-outline" zise="large"></ion-icon>
            </ion-button>
           </div>
           <div id="divEspera" style="display: none;">
            <ion-button fill="outline"  slot="end" >
              <ion-icon name="swap-vertical-outline" zise="large"></ion-icon>
            </ion-button>
            
           </div>
        </ion-item>
      </div>
      

      

    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Paquete:{{detalle[0].codpaquete}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      

      
      <ion-item-sliding *ngFor="let paquete of listaFueraCaja">
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">{{paquete.observ1}}</h2>

          </ion-label>
          <ion-label slot="end" style="text-align: center;">
            {{paquete.cantidad1}}
          </ion-label>
        </ion-item>
      </ion-item-sliding>

    </ion-card-content>


  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fotografias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    <div id="divimg1" style="display: none;"> 
      <img [src]="img1" *ngIf="img1" width="100%" height="300px"/>
    </div>

     <div id="divimg2" style="display: none;">
      <img [src]="img2" *ngIf="img2" width="100%" height="300px"/>
     </div>  

      <div id="divimg3" style="display: none;">
        <img [src]="img3" *ngIf="img3" width="100%" height="300px"/>
     </div>
      
      
     
      

    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Porteador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      

      
      <ion-item-sliding *ngIf="listaPor[0].paqentrega_observacion" >
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">Observacion: {{listaPor[0].paqentrega_observacion}}</h2>

          </ion-label>
          
        </ion-item>
      </ion-item-sliding>

      <ion-item-sliding >
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">Cedula: {{listaPor[0].idPorteador}}</h2>

          </ion-label>
          
        </ion-item>
      </ion-item-sliding>
      <ion-item-sliding >
        <ion-item>
          <ion-label>

            <h2 style="width: 100%;
          white-space: nowrap;
          overflow: hidden; white-space: initial;">Nombre: {{listaPor[0].Nombres}}</h2>

          </ion-label>
          
        </ion-item>
      </ion-item-sliding>



    </ion-card-content>


  </ion-card>



</ion-content>
