

<ion-content [fullscreen]="true">
  <div style="padding: 20px 20px 20px 20px ;">
    <img src="../../assets/logo.png" alt="">
    <ion-item>
      <ion-label position="floating">CI del Representante</ion-label>
      <ion-input id="txtCI"></ion-input>
    </ion-item>
    
   
      <!---->
      <ion-item>
        <ion-label>Campaña</ion-label>
        <ion-select value="" okText="Ok" id="selCamnia" cancelText="Cancelar" placeholder="Selecione" (ionChange)="CampaniaSelected()">
          <ion-select-option value="{{cam}}" *ngFor="let cam of listaCampanias">{{cam}}</ion-select-option>>
         
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Año</ion-label>
        <ion-select value="" okText="Ok" id="selAnio" cancelText="Cancelar" placeholder="Selecione" (ionChange)="AnioSelected()">
          <ion-select-option value="{{est}}" *ngFor="let est of listaAnios">{{est}}</ion-select-option>>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-checkbox color="success" checked="true" id='checkTerminos' (ionChange)="TerminosSelected()"></ion-checkbox>
        <ion-label>&nbsp;<a target="_blank" href="https://esfloserv.com/politica_de_privacidad.php"> Acepto términos y condiciones</a></ion-label>
        
      </ion-item>




    <!---->
    <ion-button shape="round"  color="success" expand="full" (click)="clickBuscar()">BUSCAR</ion-button>
  </div>
</ion-content>
